<form action="/figures/<%=@figure.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h1>Titles</h1>
<% Title.all.each do |title| %>
  <p><%= title.name%></p> <input id="title_<%=title.id%>" type="checkbox" name= "figure[title_ids][]"" value="title_<%=title.id%>">
  <% end %>

  <p><%= @figure.name %></p>

  <input type="text" name= "figure[name]"id="figure_name" placeholder="figure name">
<input type="text" name= "figure[landmark]"id="new_landmark" placeholder="figure name">
  <input type="submit" value="Edit Figure">
</form>
